*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url('./Images/img_paint.jpeg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.descriptive1{
    font-size:70px;
    text-align: left;
    text-shadow: 10px 10px 10px rgb(168, 35, 35);
    color: black;
}

.descriptive2 ,p{
    font-size: 30px;
    text-align: left;
    color: black;
}
.ViewMore_btn{
    font-size:18px ;
    border:none ;
    border-radius:15% ;
    padding: 15px 25px;
    margin: 20px;
    background-color: aqua;
    color: black;
}
.ViewMore_btn:hover{
    background-color: orange;
    color: navy;
}
.imagesWebComp1{
       margin: 70px;
       padding: 50px;
       color:black;
       display: flex;
       justify-content: space-around;
       font-style: italic;
       font-family: Segoe Script;
}
.Img1comport{
    width: 300px;
    height: 300px;
}
.Image1WebComp1{
    background-color:white ;
    padding: 20px;
}
.Img2comport{
    width:430px ;
    height: 300px;
}

.Image2WebComp1{
    background-color:white ;
    padding: 20px;
}
.Img3comport{
    width:300px ;
    height: 300px;
}

.Image3WebComp1{
    background-color:white ;
    padding: 20px;
}


@media screen and (min-device-width:350px) and ( max-device-width: 550px ){


    *{
        margin:0px;
        padding:0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        background-image: url('./Images/img_paint.jpeg') ;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .descriptive1{
        font-size:70px;
        text-align: left;
        text-shadow: 10px 10px 10px rgb(168, 35, 35);
        color: black;
    }
    
    .descriptive2 ,p{
        font-size: 30px;
        text-align: left;
        color: black;
    }
    .ViewMore_btn{
        font-size:18px ;
        border:none ;
        border-radius:15% ;
        padding: 15px 25px;
        margin: 20px;
        background-color: aqua;
        color: black;
    }
    .ViewMore_btn:hover{
        background-color: orange;
        color: navy;
    
    }
    .imagesWebComp1{
           margin: 70px;
           padding: 50px;
           color:black;
           display: flex;
           justify-content: space-around;
           font-style: italic;
           font-family: Segoe Script;
    }
    .Img1comport{
        width: 200px;
        height: 250px;
    }
    .Image1WebComp1{
        background-color:white ;
        padding: 20px;
    }
    .Img2comport{
        width:330px ;
        height: 250px;
    }
    .Image2WebComp1{
        background-color:white ;
        padding: 20px;
    }
    .Img3comport{
        width:230px ;
        height: 250px;
    }
    .Image3WebComp1{
        background-color:white ;
        padding: 20px;
    }
    
}


@media only screen and (min-device-width:551px) and ( max-device-width: 750px ){


    *{
        margin:0px;
        padding:0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        background-image: url('./Images/img_paint.jpeg') ;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .descriptive1{
        font-size:70px;
        text-align: left;
        text-shadow: 10px 10px 10px rgb(168, 35, 35);
        color: black;
    }
    
    .descriptive2 ,p{
        font-size: 30px;
        text-align: left;
        color: black;
    }
    .ViewMore_btn{
        font-size:18px ;
        border:none ;
        border-radius:15% ;
        padding: 15px 25px;
        margin: 20px;
        background-color: aqua;
        color: black;
    }
    .ViewMore_btn:hover{
        background-color: orange;
        color: navy;
    }
    .imagesWebComp1{
           margin: 70px;
           padding: 50px;
           color:black;
           display: flex;
           justify-content: space-around;
           font-style: italic;
           font-family: Segoe Script;
    }
    .Img1comport{
        width: 205px;
        height: 290px;
    }
    .Image1WebComp1{
        background-color:white ;
        padding: 20px;
    }
    .Img2comport{
        width:335px ;
        height: 310px;
    }
    .Image2WebComp1{
        background-color:white ;
        padding: 20px;
    }
    .Img3comport{
        width:235px ;
        height: 290px;
    }
    .Image3WebComp1{
        background-color:white ;
        padding: 20px;
    }
    
}


@media only screen and (min-device-width:751px) and ( max-device-width: 1050px ){

    *{
        margin:0px;
        padding:0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        background-image: url('./Images/img_paint.jpeg') ;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .descriptive1{
        font-size:70px;
        text-align: left;
        text-shadow: 10px 10px 10px rgb(168, 35, 35);
        color: black;
    }
    
    .descriptive2 ,p{
        font-size: 30px;
        text-align: left;
        color: black;
    }
    .ViewMore_btn{
        font-size:18px ;
        border:none ;
        border-radius:15% ;
        padding: 15px 25px;
        margin: 20px;
        background-color: aqua;
        color: black;
    }
    .ViewMore_btn:hover{
        background-color: orange;
        color: navy;
    }
    .imagesWebComp1{
           margin: 70px;
           padding: 50px;
           color:black;
           display: flex;
           justify-content: space-around;
           font-style: italic;
           font-family: Segoe Script;
    }
    .Img1comport{
        width: 205px;
        height: 290px;
    }
    .Image1WebComp1{
        background-color:white ;
        padding: 20px;
    }
    .Img2comport{
        width:335px ;
        height: 310px;
    }
    .Image2WebComp1{
        background-color:white ;
        padding: 20px;
    }
    .Img3comport{
        width:235px ;
        height: 290px;
    }
    .Image3WebComp1{
        background-color:white ;
        padding: 20px;
    }
    
}



@media only screen and (min-device-width:1051px) and ( max-device-width: 1750px ){

    *{
        margin:0px;
        padding:0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        background-image: url('./Images/img_paint.jpeg') ;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .descriptive1{
        font-size:70px;
        text-align: left;
        text-shadow: 10px 10px 10px rgb(168, 35, 35);
        color: black;
    }
    
    .descriptive2 ,p{
        font-size: 30px;
        text-align: left;
        color: black;
    }
    .ViewMore_btn{
        font-size:18px ;
        border:none ;
        border-radius:15% ;
        padding: 15px 25px;
        margin: 20px;
        background-color: aqua;
        color: black;
    }
    .ViewMore_btn:hover{
        background-color: orange;
        color: navy;
    }
    .imagesWebComp1{
           margin: 70px;
           padding: 50px;
           color:black;
           display: flex;
           justify-content: space-around;
           font-style: italic;
           font-family: Segoe Script;
    }
    .Img1comport{
        width: 300px;
        height: 300px;
    }
    .Image1WebComp1{
        background-color:white ;
        padding: 20px;
    }
    .Img2comport{
        width:390px ;
        height: 300px;
    }
    .Image2WebComp1{
        background-color:white ;
        padding: 20px;
    }
    .Img3comport{
        width:300px ;
        height: 300px;
    }
    .Image3WebComp1{
        background-color:white ;
        padding: 20px;
    }
    
}

